#root {
  width: 500px;
  margin: 0 auto;
  padding: 10px 0px;
  color: #797F94;
  font-family: Montserrat;
  font-weight: 500;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  #root {
    width: 90vw;
  }
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  padding: 10px 0px;
  position: relative;
}

.scw-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 40, 1),
  );
}


.h-card {
  flex: 0 0 auto;
  width: 140px;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  padding: 18px;
  font-size: 0.7em;
  box-shadow: 0px 4px 9px rgba(181, 198, 214, 0.25);
}

.h-card__text {
  margin-bottom: 30px;
}

.h-card__time {
  font-size: 0.7em;
  color: #ADB2BE;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0px;
}

.header1 {
  margin-top: 10px;
}

.header .title {
  margin-right: auto;
}

.map-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.7em;
  background-color: hsla(220, 12%, 93%, 1);
  padding: 4px 6px;
  border-radius: 3px;
  transition: all 0.2s ease;
  margin-left: 3px;
}

.map-button:hover {
  background-color: hsla(220, 12%, 85%, 1);
}

.map-button img {
  margin-right: 4px;
}

.notifications-wrapper {
  position: relative;
  overflow-y: scroll;
  padding-bottom: 180px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(181, 198, 214, 0.25);
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 10px;
}

.card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ADB2BE;
  font-size: 0.9em;
  margin-bottom: 8px;
  font-size: 0.6em;
  margin-top: 0.8em;
}

.pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 13px;
}

.pill img {
  margin-right: 8px;
}

.card__notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #EF7290;
  font-size: 0.8em;
}


.card__notification img {
  margin-right: 8px;
}

.card__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.5em;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8em;
}

.card__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8em;
  padding: 0.6em 0.8em;
  border-radius: 5px;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

.card__button img {
  margin-right: 3px;
}

.card__button1 {
  background: #EA85AA;
  box-shadow: 0px 2px 6px #F3BBCF;
  margin-right: 4px;
}
.card__button1:hover {
  box-shadow: 0px 2px 6px hsla(339, 70%, 74%, 1);
}

.card__button2 {
  background: #6AE6C8;
  box-shadow: 0px 2px 8px #ACEEDE;
}

.card__button2:hover {
  box-shadow: 0px 2px 6px hsla(165, 66%, 70%, 1);
}

.gradient-overlay {
  position: fixed;
  width: 100vw;
  height: 20vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 900;
  background: linear-gradient(to top, white, hsla(220deg, 40%, 100%, 0));
}